.container {
    margin-top: 4px;
}

.btn {
    float: right;
}

.table {
    margin-top: 5px;
}

.farEdit {
    margin-right: 10px;
}

i {
    cursor: pointer;
}

.nonEmployess{
    margin-top: 15px;
    text-align: center;
    color: blue;
}