<div class="container">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg float-right" routerLink="/create-empleado">Agregar</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>tomas</td>
                        <td>Perez</td>
                        <td>5512436271</td>
                        <td>25000</td>
                        <td>
                            <i class="far farEdit fa-edit fa-lg text-info"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>tomas</td>
                        <td>Perez</td>
                        <td>5512436271</td>
                        <td>25000</td>
                        <td>
                            <i class="far farEdit fa-edit fa-lg text-info"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>tomas</td>
                        <td>Perez</td>
                        <td>5512436271</td>
                        <td>25000</td>
                        <td>
                            <i class="far farEdit fa-edit fa-lg text-info"></i>
                            <i class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>