<div class="container">
    <div class="card">
        <div class="card-body">
            <span class="h3">Lista de Empleados</span>
            <button class="btn btn-dark btn-lg" routerLink="/create-empleado">Agregar</button>
            <h4 class="nonEmployess" *ngIf="empleados.length == 0">No hay empleados por mostrar</h4>
            <table *ngIf="empleados.length > 0" class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Documento</th>
                        <th>Salario</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let empleado of empleados">
                        <td>{{ empleado.nombre }}</td>
                        <td>{{ empleado.apellido }}</td>
                        <td>{{ empleado.documento }}</td>
                        <td>{{ empleado.salario | currency }}</td>
                        <td>
                            <i class="far farEdit fa-edit fa-lg text-info" [routerLink]="['/editEmpleado',empleado.id]"></i>
                            <i (click)="eliminarEmpleado(empleado.id, empleado.nombre)" class="fas fa-trash-alt fa-lg text-danger"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>